<div class="col-lg-6 additional-keyboard-wrappper">
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
</div>
