<div class="col-lg-4 additional-keyboard-wrappper">
    <div class="btn btn-default btn-sm num-button">ln</div>
    <div class="btn btn-default btn-sm num-button" (click)="addSymbol('(')">(</div>
    <div class="btn btn-default btn-sm num-button" (click)="addSymbol(')')">)</div>
    <div class="btn btn-default btn-sm num-button">sinh</div>
    <div class="btn btn-default btn-sm num-button">sin</div>
    <div class="btn btn-default btn-sm num-button">x<sup>2</sup></div>
    <div class="btn btn-default btn-sm num-button">n!</div>
    <div class="btn btn-default btn-sm num-button">cosh</div>
    <div class="btn btn-default btn-sm num-button">cos</div>
    <div class="btn btn-default btn-sm num-button" (click)="addPI()">&pi;</div>
    <div class="btn btn-default btn-sm num-button">tanh</div>
    <div class="btn btn-default btn-sm num-button">tan</div>
    <div class="btn btn-default btn-sm num-button">x<sup>3</sup></div>
    <div class="btn btn-default btn-sm num-button">&#8731;x</div>
    <div class="btn btn-default btn-sm num-button">Exp</div>
    <div class="btn btn-default btn-sm num-button">log</div>
    <div class="btn btn-default btn-sm num-button">10<sup>x</sup></div>
</div>
