<div class="col-lg-4 additional-keyboard-wrappper">
    <div class="btn btn-default btn-sm num-button" (click)="naturalLogarithm()">ln</div>
    <div class="btn btn-default btn-sm num-button" (click)="addSymbol('(')">(</div>
    <div class="btn btn-default btn-sm num-button" (click)="addSymbol(')')">)</div>
    <div class="btn btn-default btn-sm num-button" (click)="sin()">sin</div>
    <div class="btn btn-default btn-sm num-button" (click)="square()">x<sup>2</sup></div>
    <div class="btn btn-default btn-sm num-button" (click)="factorial()">n!</div>
    <div class="btn btn-default btn-sm num-button" (click)="cos()">cos</div>
    <div class="btn btn-default btn-sm num-button" (click)="addPI()">&pi;</div>
    <div class="btn btn-default btn-sm num-button" (click)="tan()">tan</div>
    <div class="btn btn-default btn-sm num-button" (click)="cube()">x<sup>3</sup></div>
    <div class="btn btn-default btn-sm num-button" (click)="cbrt()">&#8731;x</div>
</div>
